.base {
  height: 375px;
  width: -webkit-fill-available;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.image {
  object-fit: cover;
}

.textContent {
  background-color: var(--white);
  color: var(--highlight-color);
  overflow: auto;
}

.unsupported {
  color: var(--error);
  background-color: var(--white);
}

.loading,
.placeholder {
  color: var(--white);
  background-color: var(--highlight-color);

}

.error {
  color: var(--error);
  background-color: var(--white);
}
