.labelContainer {
  color: var(--white);
  font-size: 14px;
  font-family: Monserrat;
  margin: 0;
  height: fit-content;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  text-align: left;
}

.large {
  font-size: 16px;
}

.small {
  font-size: 16px;
  opacity: 0.7;
}
