.headerContainer {
  z-index: 2;
  height: 3.4rem;
  max-height: 78px;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.backButton {
  position: absolute;
  left: 12px;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: var(--black);
  transition: background-color 0.3s ease;
}

.backButton:hover {
  background-color: #333;
}

.backButton:active {
  background-color: #444;
}

.arrow {
  font-size: 20px;
  color: var(--white);
  font-weight: bold;
  transform: rotate(0);
}
