@font-face {
  font-family: "Monserrat";
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); /* IE9 Compat Modes */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --black: #1A1A1A;
  --white: #FFFFFF;
  --primary-color: #465AE9;
  --highlight-color: #24252C;
}



